body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: rgb(145, 145, 245);

}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 12px;
  background-color: rgb(248, 238, 223);
 }